# dependencies
# ignore any node_modules folder anywhere
node_modules/
**/node_modules/

# build outputs
/client/dist/
/server/dist/

# environment
*.env

# OS artifacts
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
